CompileFlags:
  Remove: [-mno-direct-extern-access]
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  Includes:
    IgnoreHeader:
    - qtmetamacros\.h
    - wayland-client\.h
    - qlogging\.h
    - qminmax\.h
    - qtversionchecks\.h
    - qcontainerfwd\.h
    - qtypes\.h
    - qtestcase\.h
    - qalgorithms\.h
