name: Build and upload to macOS store

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

permissions:
  contents: write
  id-token: write
  attestations: write

jobs:
  build:
    runs-on: macos-15
    steps:
    - uses: actions/checkout@v6
    - uses: AllanChain/install-qt-static@v6.10

    - name: Build Project
      env:
        GITHUB_RUN_NUMBER: ${{ github.run_number }}
      run: |
        mkdir build
        cd build
        qt-cmake -DCMAKE_BUILD_TYPE=MinSizeRel -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64" ..
        cmake --build . --parallel

    - uses: apple-actions/import-codesign-certs@v5
      id: certificate
      with:
        p12-file-base64: ${{ secrets.PROD_MACOS_CERTIFICATE }}
        p12-password: ${{ secrets.PROD_MACOS_CERTIFICATE_PWD }}

    # https://federicoterzi.com/blog/automatic-code-signing-and-notarization-for-macos-apps-using-github-actions/
    - name: Codesign app
      env:
        STORE_CERTIFICATE_NAME: ${{ secrets.MACOS_STORE_CERTIFICATE_NAME }}
        INSTALLER_CERTIFICATE_NAME: ${{ secrets.MACOS_INSTALLER_CERTIFICATE_NAME }}
        PROVISION_PROFILE: ${{ secrets.MACOS_STORE_PROVISION_PROFILE }}
      run: |
        set -xe
        mv build/sane-break.app "build/Sane Break.app"
        echo "$PROVISION_PROFILE"| base64 --decode > "build/Sane Break.app/Contents/embedded.provisionprofile"
        codesign --force -s "$STORE_CERTIFICATE_NAME" --deep "build/Sane Break.app" --entitlements packaging/macos/entitlement.plist
        mkdir release
        productbuild --sign "$INSTALLER_CERTIFICATE_NAME" --component "build/Sane Break.app" /Applications release/sane-break.pkg

    - name: Upload to store connect
      env:
        APPLE_ID: ${{ secrets.PROD_MACOS_NOTARIZATION_APPLE_ID }}
        APPLE_PWD: ${{ secrets.PROD_MACOS_NOTARIZATION_PWD }}
      run: |
        set -xe
        xcrun altool --validate-app --f release/sane-break.pkg -t macOS -u $APPLE_ID -p $APPLE_PWD --show-progress
        xcrun altool --upload-app --f release/sane-break.pkg -t macOS -u $APPLE_ID -p $APPLE_PWD --show-progress

